/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

.bg-body-tertiary {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    margin-top: 20px;
}

p {
    color: #555555;
}

.bg-danger {
    background-color: #dc3545;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
